body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #686868;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Quicksand', sans-serif;
    text-align: center
}
h2 {
	text-align:center;
	font-family:'Quicksand', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    color: #333;
}
li {
	 font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    color: #333;
}

.content {
	max-width: 800px;
	margin: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	text-align: center;
}


