<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to google fonts-->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:500" rel="stylesheet">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li>Made with GitHub pages for Wyndham City Libraries.</li>
					<li>-31 August 2017-</li>
					<li>Contact Emilly at Tarneit Library 03 8734 0200.</li>
				</ul>
			</footer>
		</body>
	</html>
